In [7]:
from datetime import datetime
today = datetime(2019, 8, 14)

print(today.strftime('%Y/%m/%d'))

2019/08/14

In [8]:
type(today)

datetime.datetime

In [12]:
class Student:
    def _init_(self, name, courses, major):
        self.name = name
        self.courses = courses
        self.major = major
        
    def add_course(self, newcourse):
        self.courses.append(newcourse)
        
    def show_degree(self):
        degree = 'Congradulations to' + self.name + ' for earnign their degree in' + self.major
        return degree
        
class Foreign_Exchange_Student(Student):
    def _init_(self, name, courses, major, country_of_origin, stay_duration):
        Student._init_(self, name, course, major)
        self.country_of_origin = country_of_origin
        self.stay_duration = stay_duration
        
    def increase_stay(self, months):
        self.stay_duration += months
        
    def show_degree(self):
        degree = 'Congradulations to ' +
         
s1 = Student('Alice', ['Math', 'Physics', 'English'], 'Physics')
print(s1.courses)
print(s1.show_degree())
print(s1.courses)
print(s1.name)
print(s1.courses)
print(s1.major)
s1.add_course('History')
s2 = Forgeign_Exchange_Student('Bob', ['Chemistry', 'Sociology'], 'Psychology', 'Germany', 3)
print(s2.stay_duration)
print(s2.stay_duration)

TypeError: Student() takes no arguments

In [13]:
#QUESTION 1
def f():
  print('hello')
  return 'world'
x = f()

hello

In [14]:

#QUESTION 2
def f(x):
  if x > 3:
    return 'big'
  return 'small'
x = 5
y = 1
print(f(x), f(y))

big small

In [15]:
#QUESTION 3
def f(x):
  return x + 1
def g(x):
  return f(x) ** 2
x = 1
print(g(x))

4

In [16]:

#QUESTION 4
def f(x,y=1):
  return x + y
print(f(2,3))

5

In [17]:
#QUESTION 6
D = {'Hello':1}
def f():
  D['World'] = 2
f()
print(D)

{'Hello': 1, 'World': 2}

In [18]:

#QUESTION 5
def f():
  k = 'Tom'
  return 'Hello ' + k
k = 'World'
print(f())

Hello Tom

In [19]:
#QUESTION 2
class Student:
  def __init__(self, name='John'):
    self.name = name 

s1 = Student('Jane')

In [20]:

#QUESTION 3
class Student:
  def favorite_course(self, course):
    ######INSERT CODE HERE#######
    pass 
    ######END CODE#########

In [23]:

#QUESTION 3
class Student:
  def favorite_course(self, course):
    ######INSERT CODE HERE#######
      Student.favorite_course = course
    ######END CODE#########

In [24]:
#QUESTION 4
class Student:
  def __init__(self):
    print('Student init')

class Foreign_Exchange_Student(Student):
  pass
  
student1 = Foreign_Exchange_Student()

Student init

In [25]:
#QUESTION 5
class Student:
  def show_degree(self, name):
    self.name = name + " Smith"
    return "Congratulations {}".format(name)
    
s1 = Student()
degree = s1.show_degree('John')
print(s1.name, degree)

John Smith Congratulations John

In [26]:
#QUESTION 6
class Student:
  def __init__(self, name):
    self.name = name
  def get_tuition(self, courses):
    self.tuition = 1000 * len(courses)
  def total_cost(self):
    return self.tuition + 1000
    
s1 = Student('John')
courses = ['Art','Biology','Chemistry']
print(s1.total_cost())

AttributeError: 'Student' object has no attribute 'tuition'